{% extends 'base.html.twig' %}

{% block title %}e-shop Home!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Welcome to E-shop</h1>
			<p class="lead">E-shop is a shop in line, here you could find most of product that you want!
			</p>
			<hr class="my-4">
			<div class="card-group">
				{% for product in products %}
					{% if product.onSale %}
						<div class="card display-flex mt-4" style="width: 18rem; padding:10px;">
							<div class="card-body">
								<h5 class="card-title">{{ product.Name }}</h5>
								<h6 class="card-subtitle mb-2 text-muted">Price:
									{{ product.PBT }}</h6>
								<p class="card-text">{{ product.Description }}</p>
								<a href="#" class="card-link">{{ product.category.getTitle()}}</a>
								{# <a href="#" class="card-link">Another link</a> #}

							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
			</p>
		</div>
	</div>
{% endblock %}
