{% extends 'base.html.twig' %}

{% block title %}e-shop Home!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Welcome to E-shop</h1>
			<p class="lead">E-shop is a shop in line, here you could find most of product that you want!
			</p>
			<hr class="my-4">

			<h1>Products on discount</h1>
			<div class="row">

				{% for product in products %}
					{% if product.onSale %}

						<div class="col-md-4 mb-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">{{ product.Name }}</h5>
									<h6 class="card-subtitle mb-2 text-muted">Price:
										{{ product.PBT }}</h6>
									<p class="card-text">{{ product.Description }}</p>
									<a href="#" class="card-link">{{ product.category.getTitle()}}</a>
									{# <a href="#" class="card-link">Another link</a> #}

								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
		</p>
	</div>
</div>{% endblock %}
